body {
    font-family: Georgia, Times New Roman, serif;
    font-size:1.1em;
    background-color: black;
}

#container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

a {
    font-weight: normal;
    color: darkred;
    text-decoration: none;
}


.topmenudiv a {
    text-decoration: none;
    color: white;
}

.topmenudiv a:hover {
    display:block;
    color: #a45000;
    text-decoration:none;
}

.enhancedText {
    font-family: Tahoma, serif;
}

.cursiveText {
    font-family: Tangerine;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.bigBoldText {
    font-size: 2em;
    font-weight: bold;
}

#topbar {
    position:relative;
    height: 220px;
    max-width:1100px;
    padding-left:185px;
}

#topbarimg {
    max-width:870px;
    left:185px;
}

.selected {
    color: #dda410 !important;
}


.fixedwidth {
    width:1000px;
    margin:0 auto;  /* centers a div within another div */
    position:relative;
}

#logodiv {
    position:relative;
    margin-top: -202px;
    float: left;
}

#logodiv img {
    width:330px;
}

#menubar {
    max-width: 1100px;
    position: relative;
    left: 115px;
    height: 36px;
    background-color: rgba(0,0,0,.3);
}

.topmenudiv {
    margin-top:-32px;
}

.topmenudiv ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    /*font-size: 1.3em;*/
}

.topmenudiv li {
    margin: 5px 0 5px 0;
    padding: 0 10px 12px 10px;
    border-right: 1px solid #910000;
    color:white;
    float:left;
}

.topmenudiv a {
    display:block;
    height:12px;
    width:80px;
    text-align:center;
    text-decoration:none;
    font-weight:normal;
}

.menu-wide {
    width: 200px !important;
    font-size: 0.95em;
    padding-top:2px;
}

#astra-main {
    position: relative;
    margin-left: 65px;
    padding:20px 20px 20px 20px;
    width: 900px;
    background-image: url(../img/parchmentlightbg.jpg);
    background-size: cover;
    background-color: azure;
    border-radius: 10px;
    /*height:1000px;*/
    height: auto;
}

#astra-title {
    height: 140px;
}

#copyright {
    position: absolute;
    font-size: x-small;
    font-style: italic;
}

hr {
    background-image: url(../img/flourish-hb.png);
    background-size: 50%;
    background-repeat: no-repeat;
    height: 57px;
    border: none;
    background-position: center;
    margin-bottom:40px;
}


h3 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.break {
    clear:both;
}


#main-text{
  /*  padding: 20px 100px 0 100px;*/
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
/*    display:none;*/
}

#discover-container {
    padding: 30px 100px 100px 100px;
}

#discover-img {
    position:relative;
    float:left;
    top: -20px;
    height: 460px;
}

#discover-img img {
    height: 451px;
    width: 674px;
}

#discover-flourish {
    position: relative;
    float:left;
    top: -455px;
    left: 660px;
}

#discover-flourish img {
    width: auto;
    height:450px;
}


.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-max-100 {
    max-width: 100%;
}

.text-centered {
    text-align: center;
}

.link-graphic {
    position: relative;
    float: left;
    margin: 0 50px 10px 10px;
}

#see-link {
    width: 225px;
    height:130px;
    background-image: url(../img/see.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#see-preload {
    background: url(../img/seeOn.png) no-repeat -9999px -9999px;
}

#see-link:hover {
    cursor: pointer;
    background-image: url(../img/seeOn.png);
}

#hear-link {
    width: 225px;
    height:130px;
    background-image: url(../img/hear.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hear-preload {
    background: url(../img/hearOn.png)  no-repeat -9999px -9999px;
}

#hear-link:hover {
    cursor: pointer;
    background-image: url(../img/hearOn.png);
}

#experience-link {
    width: 199px;
    height:130px;
    background-image: url(../img/experience.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#experience-preload {
    background: url(../img/experienceOn.png)  no-repeat -9999px -9999px;
}

#experience-link:hover {
    cursor: pointer;
    background-image: url(../img/experienceOn.png);
}

#see-flourish-left {
    position:relative;
    float:left;
    top: 295px;
    left:-60px;
}

#see-flourish-right {
    position:relative;
    float:right;
    top: 295px;
    left:20px;
}

#right-corner-flourish {
    position: absolute;
    float: right;
    bottom: 3px;
    right: 5px;
}

#mgmt-img {
    position:relative;
    float:right;
    top:65px;
}

#epk {
    width:133px;
    height:235px;
    position:relative;
    top:-34px;
    left:30px;
    text-align: left;
}

#epk img {
    position: relative;
    top: -20px;
}

#epk figcaption {
    position: relative;
    top: -20px;
}

#discover-text {
    margin-top:10px;
    text-align: justify;
    padding-right: 55px;
}

#composer-info {
    border: 1px;
}
#composer-text {
    padding: 40px 100px 0 210px;
    max-width: 600px;
    text-align: left;
    display:none;
}

#composer-img {
    position: relative;
    left: 95px;
    top: -107px;
    float:left;
    display: none;
}

#composer-img img {
    border: black;
    border-width: 3px;
    border-style: double;
    height: 100px;
}

#experience-container {
     margin: 20px auto;
     width: 50%;
     display: none;
}

#see-container {
    margin: 20px auto;
    width: 50%;
    display: none;
}

#hear-container{
    margin: 50px auto;
    width: 50%;
    display: none;
}

#discover-slideshow {
    position:relative;
    float:left;
    top: -80px;
    left: 27px;
    height: 475px;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 600px;
    height: 350px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow img {
    border: solid black 1px;
    height: 350px;
    width: 600px;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#discover-flourish-left {
    position:relative;
    float: left;
    z-index: 99;
    top:50px;
    left:110px;
}

#discover-flourish-left img {
    position:relative;
    left: -2px;
    height: 370px;
    width: auto;
}

#discover-flourish-right {
    position:relative;
    float: left;
    z-index: 99;
    top:-420px;
    left:606px;
}

#discover-flourish-right img {
    height: 370px;
    width: auto;
}


#voted-text {
    position:relative;
    top: -25px;
}

